<head>
  <title>Google Map Hello World Example</title>
  <style type="text/css">
    div#map_container{
      width:100%;
      height:100%;
    }
  </style>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAyO8W20fRk4qIV1Upp8B2asPZLRuWl3D4&sensor=false"></script>

  <script type="text/javascript">
    function loadMap() {
      var latlng = new google.maps.LatLng(-34.602990,-58.370229);
      var myOptions = {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title:"Cancha!"
      });

    }
  </script>
</head>

<body onload="loadMap()">
<div id="map_container"></div>
</body>
