@import "~material-components-web/material-components-web";
@import "@material/theme/mdc-theme";

a.material-icons {
  text-decoration: none;
}

body{
  margin: 0;
}

$mdc-theme-primary: #d80b03;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;
