<div mdcListGroup [hidden]="games.length === 0">
  <ul mdcList [dense]="dense">
    <li mdcListItem mdcListDivider [mdcRipple]="ripple" *ngFor="let game of games" style="height: 80px">
      <div [hidden]="game.currentUserJoined">
        <span mdcListItem="graphic" role="presentation">
          <i class="material-icons" aria-hidden="true">event</i>
        </span>
      </div>
      <div [hidden]="!game.currentUserJoined" >
        <span class="mdc-list-item__graphic" role="presentation"style="color: limegreen">
          <i class="material-icons" aria-hidden="true">check</i>
        </span>
      </div>
      <span class="mdc-list-item__text">{{game.description}}
        <span class="mdc-list-item__secondary-text">{{(game.dateTime | date:'EEE d MMM, HH:mm')  + " - " + game.location.description}}</span>
      </span>
      <a href="#" class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
        info
      </a>
    </li>
  </ul>
</div>
