<header mdcToolbar>
  <div mdcToolbarRow>
    <section mdcToolbarSection alignStart>
      <i id="open-menu-button" (click)="openDrawerMenu()" class="menu material-icons mdc-toolbar__menu-icon">menu</i>
      <span mdcToolbarTitle><b>{{title}}</b></span>
    </section>
    <nav mdcTabBar class="menu-tab-bar">
      <a *ngFor="let menu of menus; let i = index" mdcTab (activate)="activate(i)" tabindex="0" mdcTabRouter [routerLink]="[menu.link]">{{menu.name}}</a>
    </nav>
  </div>

</header>

<aside #drawerMenuRef class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">

    <div mdcDrawerToolbarSpacer></div>
    <div mdcDrawerHeader style="height: 90px">
      <div mdcDrawerHeaderContent style="padding: 15px">Header Content</div>
    </div>

    <nav mdcDrawerContent mdcList="white">
      <a *ngFor="let menu of menus" mdcListItem [routerLink]="[menu.link]" routerLinkActive="activeTabIndex">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{menu.icon}}</i>{{menu.name}}
      </a>
    </nav>
  </nav>
</aside>


<main>
    <router-outlet></router-outlet>
</main>
