@import "~@material/theme/mixins";

[mdcDrawerHeader], [mdcDrawerToolbarSpacer] {
  // color the header variants the same way as the toolbar:
  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, text-primary-on-primary);
}

.menu-tab-bar{
  margin-bottom: -15px;
  margin-right: 30px;

  a{
    color: white;
    font-weight: bold;
  }

  .mdc-tab-bar__indicator{
    background-color: #0084E0;
    height: 3px;
  }
}



