@import "~@material/theme/mixins";

[mdcDrawerHeader], [mdcDrawerToolbarSpacer] {
  // color the header variants the same way as the toolbar:
  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, text-primary-on-primary);
}

.menu-tab-bar{
  //margin-bottom: -15px;
  margin-right: 30px;

  a{
    color: white;
    font-weight: bold;
  }

  .mat-ink-bar{
    height: 3px;
  }

  .mat-tab-link{
    opacity: 1;
  }
  [mat-tab-link]{
    height: 64px;
    @media (max-width: 750px) {
      display: none;
    }

  }
}

//@media (max-width: 599px);
