<header mdcToolbar>
  <div mdcToolbarRow>
    <section mdcToolbarSection alignStart>
      <i id="open-menu-button" class="menu material-icons mdc-toolbar__menu-icon">menu</i>
      <span mdcToolbarTitle style="padding-left: -20px"><b>{{title}}</b></span>
    </section>
  </div>

</header>

<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">

    <div mdcDrawerToolbarSpacer></div>
    <div mdcDrawerHeader style="height: 90px">
      <div mdcDrawerHeaderContent style="padding: 15px">Header Content</div>
    </div>

    <nav mdcDrawerContent mdcList="white">
      <a mdcListItem="activated" href="#" routerLink="/home" routerLinkActive="active">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>Home
      </a>
      <a mdcListItem href="#" routerLink="/game" routerLinkActive="active">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Game
      </a>
    </nav>
  </nav>
</aside>


<main>
    <router-outlet></router-outlet>
</main>
