<div>
  <form #GameForm="ngForm" (keydown.enter)="false">

    <mat-grid-list cols="1" rowHeight="55px">
      <mat-grid-tile>
        <header>
          <h1 title class="title">{{title}}</h1>
        </header>
      </mat-grid-tile>
    </mat-grid-list>

    <div style="max-width: 500px; position: center; margin: auto;" >
      <agm-map [latitude]="game.location.latitude" [longitude]="game.location.longitude" [zoom]=14>
        <agm-marker [latitude]="game.location.latitude" [longitude]="game.location.longitude"></agm-marker>
      </agm-map>
    </div>

    <mat-grid-list cols="1" rowHeight="60px" style="margin-top: 10px">

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput name="locationAddress"
                 placeholder={{locationAddrLabel}}
                 [required]="true"
                 [(ngModel)] ="game.location.address"
                 #searchAddress
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="off"
                 autocomplete="new-password">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput name="gameDescription"
                 placeholder={{descriptionLabel}}
                 [required]="true"
                 [(ngModel)] ="game.description">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input #dateTimepicker
                 type="datetime-local"
                 matInput name="gameDate"
                 placeholder={{dateLabel}}
                 [required]="true"
                 [(ngModel)] ="game.dateTime">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-select name="gameCapacity"
            placeholder={{fieldTypeLabel}}
            [(ngModel)]="game.capacity"
            [required]="true">
            <mat-option *ngFor="let field of fields" [value]="field.capacity">{{field.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button routerLink="/game" style="float: right">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="GameForm.form.invalid" style="float: right; margin-left: 20px">Guardar</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
