<div>
  <form #GameForm="ngForm">

    <mat-grid-list cols="1" rowHeight="65px">
      <mat-grid-tile>
        <header>
          <h1 title class="title">{{title}}</h1>
        </header>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput name="gameDescription"
                 placeholder={{descriptionLabel}}
                 [required]="true"
                 [(ngModel)] ="game.description">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput name="locationDescription"
                 placeholder="{{locationDescLabel}}"
                 [required]="true"
                 [(ngModel)] ="game.location.description">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput name="locationAddress"
                 placeholder={{locationAddrLabel}}
                 [required]="true"
                 [(ngModel)] ="game.location.address">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input #dateTimepicker
                 type="datetime-local"
                 matInput name="gameDate"
                 placeholder={{dateLabel}}
                 [required]="true"
                 [(ngModel)] ="game.dateTime">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-select name="gameCapacity"
            placeholder={{fieldTypeLabel}}
            [(ngModel)]="game.capacity"
            [required]="true">
            <mat-option *ngFor="let field of fields" [value]="field.capacity">{{field.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button routerLink="/game" style="float: right">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="GameForm.form.invalid" style="float: right; margin-left: 20px">Guardar</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
