<!--<div class="example-container mat-elevation-z8">-->
  <!--<div class="example-header">-->
    <!--<mat-form-field>-->
      <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
    <!--</mat-form-field>-->
  <!--</div>-->

  <!--<mat-table #table [dataSource]="dataSource">-->

    <!--&lt;!&ndash; Email Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="position">-->
      <!--<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; FirstName Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="name">-->
      <!--<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; LastName Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="weight">-->
      <!--<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->
